{% extends 'base.html' %}

{% block title %}{{ object }}{% endblock %}

{% block content %} 

<p>{{ object }}</p>
<p>{{ object.description }}</p>

{% if object.members %}
<p>Members: {{ object.members }}</p>
{% endif %}
 
<p>Track:{{ object.track }}</p>

<hr>

<h4>Add task </h4>
<hr>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>

<hr>
<h3>My tasks</h3>

<h4>Finished</h4>
{% for task in tasks_done %} 
    <li>{{ task }}</li>
    <a href="{% url 'planner:workspace-task-update' pk=task.pk %}">Edit</a>
    <ul>
        <li>Status: {{ task.status }}</li>
        {% if task.deadline %}
        <li>Deadline: {{ task.deadline }}</li>
        <li>Days left: {{ task.days_left }}</li>
        {% endif %}
        {% if task.grade %}
        <li>Grade: {{ task.grade }}</li>
        {% endif %}
        {% if task.description %}
        <li>Notes: {{ task.description }}</li>
        {% endif %}

        <form action="{% url 'planner:workspace-detail' pk=pk %}" method="POST" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this item?');">
            {% csrf_token %}
            <input type="hidden" name="delete_task_id" value="{{ task.pk }}">
            <button type="submit">Delete</button>
        </form>

    </ul>
        

{% endfor %}

<h4>Not finished</h4>
{% for task in tasks_not_done %} 
    <li>{{ task }}</li>
    <a href="{% url 'planner:workspace-task-update' pk=task.pk %}">Edit</a>
    <ul>
        <li>Status: {{ task.status }}</li>
        {% if task.deadline %}
        <li>Deadline: {{ task.deadline }}</li>
        <li>Days left: {{ task.days_left }}</li>
        {% endif %}
        {% if task.grade %}
        <li>Grade: {{ task.grade }}</li>
        {% endif %}
        {% if task.description %}
        <li>Notes: {{ task.description }}</li>
        {% endif %}
        <form action="{% url 'planner:workspace-detail' pk=pk %}" method="POST" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this item?');">
            {% csrf_token %}
            <input type="hidden" name="delete_task_id" value="{{ task.pk }}">
            <button type="submit">Delete</button>
        </form>

    </ul>
        

{% endfor %}

<hr>

<a href="{% url 'planner:workspace-update' pk=pk %}">Edit</a>
<a href="{% url 'planner:workspace-list' %}">Go to my workspaces</a>
{% if object.track %}
    <a href="{% url 'planner:track-detail' pk=object.track.pk %}">Go back to my track</a>
{% endif %}

{% endblock %}