{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}

<p>this is homepage</p>

{% if user.is_authenticated %}
<h2>Hi {{ user.profile }}</h2>
<form method="POST" action="{% url 'logout' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Logout</button>
</form>

<a href="{% url 'useraccounts:profile' username=user.username %}">Go to your profile</a>
           
{% else %}
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>

Create new account:
<form method="POST" action="{% url 'useraccounts:register' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register</button>
</form>
{% endif %}

<a href="{% url 'planner:to-do' %}">Go to your to-dos</a>
<a href="{% url 'planner:track-list' %}">Go to your tracks</a>
<a href="{% url 'planner:workspace-list' %}">Go to your workspaces</a>

{% endblock %}